@model IEnumerable<GymWeb.Entities.EntrenadorEnt>


@{
    ViewData["Title"] = "EditarCitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />

}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de las citas registradas</h4>

            <table id="tbCitas" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center">Fecha de la Cita</th>
                        <th style="text-align:center">Espacios Disponibles</th>
                        @*      <th style="text-align:center">Editar Citas</th>*@
                        <th style="text-align:center">Eliminar Cita</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">@item.FechaCita</td>
                            <td style="text-align:center">@item.EspaciosDisponibles</td>
                            @*    <td style="text-align:center"><a href="@Url.Action("ActualizarUsuario","Usuario", new { q = item.IdCita })"><i class="fa fa-user fa-lg"></i></a></td>*@
                  @*          <td style="text-align:center">
                                <a href="@Url.Action("EliminarCita", "Entrenador", new { q = item.IdCita })">
                                    <i class="fa fa-trash fa-lg text-danger"></i>
                                </a>
                            </td>*@

                            <td style="text-align:center">
                                <a href="#" onclick="eliminarCita('@item.IdCita')">
                                    <i class="fa fa-trash fa-lg text-danger"></i>
                                </a>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('#tbCitas').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json"
                }
            });
        });

        var urlEliminarCita = '@Url.Action("EliminarCita", "Entrenador")';

        function eliminarCita(idCita) {
       
            confirmarEliminacion(idCita);
        }

        function confirmarEliminacion(idCita) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminada, no podrás recuperar esta cita",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, eliminar cita",
                cancelButtonText: "Cancelar",
            }).then((result) => {
                if (result.isConfirmed) {
               
                    window.location.href = urlEliminarCita + "?q=" + idCita;
                }
            });
        }
    </script>
}
